html, body {
  width: 100%;
  height: 100%;
}
#root {
}
.jpipes {
  position: relative;

  .svg-layer {
    position: absolute;
    top: 0;
    left: 0;
    svg {
    }
  }
  .html-layer {
    position: relative;
    top: 0;
    left: 0;
    .jpipes-dialog {
      background-color: #f5f5f5;
      position: absolute;
      .body {
        padding: 5px;
      }
      .port-input {
        width: 16px;
        height: 16px;
        border-radius: 10px;
        background-color: green;
        position: absolute;
        top: -10px;
        left: 50%;
      }
      .port-output {
        width: 16px;
        height: 16px;
        border-radius: 10px;
        background-color: blue;
        position: absolute;
        bottom: -10px;
        left: 50%;
      }
    }
    .jpipes-input {
      width: 500px;
      border: 1px solid #ccc;
      border-radius: 5px;
      .header {
        background-color: #ccf;
        padding: 5px;
      }
    }
  }
}
