html, body {
  background: #93a0b0;
  height: 100%;
}

.shizuku {
  position: relative;
  height: 100%;
  overflow: hidden;

  #shizuku-editor{
    position: relative;
    .shizuku-component-container {
      position: absolute;
      .shizuku-component {
        z-index: 1;
        background: #fafafa;
        background-image: linear-gradient(to bottom, #fafafa, #e1e1e1);
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
        h4, h5 {
          white-space: nowrap;
        }
        .shizuku-header {
          white-space: nowrap;
          position: relative;
          background: #b5b5b5;
          border-bottom: 1px solid #949494;
          border-radius: 5px 5px 0 0;
          background-image: linear-gradient(to bottom, #dadada, #b1b1b1);
          padding: 5px 43px 5px 10px;
          box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
          .close {
            position: relative;
            top: -2px;
            right: -30px;
            color: inherit;
          }
          .info {
            float: right;
            position: relative;
            top: 1px;
            cursor: pointer;
            &.input-info {
              right: -22px;
            }
            &.output-info {
              right: -25px;
            }
          }
        }
        .shizuku-body {
          padding: 10px 10px 5px 10px;
          text-shadow: 0 1px rgba(255, 255, 255, 0.5);
          max-height: 400px;
          overflow: auto;
          table.table-form {
            th {
              white-space: nowrap;
              text-align: right;
              padding-right: 15px;
              padding-bottom: 5px;
            }
            td {
              white-space: nowrap;
              padding-bottom: 5px;
              .vertical-checkbox {
                display: block;
                margin-bottom: 0;
                &.check-all {
                  margin-bottom: 0.5em;
                }
              }
            }
            &.vertical {
              th {
                text-align: left;
              }
            }
            &.bordered {
              td, th {
                border: 1px solid #ccc;
              }
            }
          }
          .icon-only {
            font-size: 64px;
            text-align: center;
            line-height: 1;
          }
          .filter-table {
            .close {
              color: #a94442;
              opacity: 0.6;
              &:hover {
                opacity: 1;
              }
            }
          }
          .logical-image {
            text-align: center;
            margin-bottom: 10px;
          }
        }
      }
    }
    .jsplumb-endpoint {
      z-index: 0;
      circle {
        fill: #777;
      }
    }
    .jsplumb-connector {
      path {
        stroke: #777;
      }
    }
    .jsplumb-hover {
      path {
        stroke: #444;
      }
      circle {
        fill: #444;
      }
    }
    .jsplumb-endpoint-drop-allowed {
      circle {
        fill: #0ff;
      }
    }
    .jsplumb-connector {
      path:nth-child(2) {
        stroke: #777;
        fill: #777;
      }
    }
  }

  .shizuku-menu {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    .inverse-dropdown {
      background-color: #444;
      border-color: #080808;
      &>li>a, &>li>label {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        color: #999;
        &:hover {
          color: #fff;
          background-color: #000;
        }
      }
      &>.divider {
        background-color: #000;
      }
    }
    input.load-file {
      display: none;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
  }

  button[disabled]{
    color: #999;
    cursor: not-allowed;
  }
}
table.component-info {
  margin-bottom: 0;
  th, td {
    white-space: nowrap;
  }
}
.popover {
  max-width: none;
}

