html, body {
  background: #93a0b0;
}

.shizuku {
  position: relative;

  #shizuku-editor{
    position: relative;
    .shizuku-component-container {
      position: absolute;
      .shizuku-component {
        z-index: 1;
        background: #fafafa;
        background-image: linear-gradient(to bottom, #fafafa, #e1e1e1);
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
        .shizuku-header {
          white-space: nowrap;
          position: relative;
          background: #b5b5b5;
          border-bottom: 1px solid #949494;
          border-radius: 5px 5px 0 0;
          background-image: linear-gradient(to bottom, #dadada, #b1b1b1);
          padding: 5px 43px 5px 10px;
          box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
          .close {
            position: relative;
            top: -2px;
            right: -30px;
            color: inherit;
          }
        }
        .shizuku-body {
          padding: 10px 10px 5px 10px;
          text-shadow: 0 1px rgba(255, 255, 255, 0.5);
          table.table-form {
            tr {
              th {
                white-space: nowrap;
                text-align: right;
                padding-right: 15px;
                padding-bottom: 5px;
              }
              td {
                white-space: nowrap;
                padding-bottom: 5px;
              }
            }
          }
        }
      }
    }
    .jsplumb-endpoint {
      z-index: 0;
      circle {
        fill: #777;
      }
    }
    .jsplumb-connector {
      path {
        stroke: #777;
      }
    }
    .jsplumb-hover {
      path {
        stroke: #444;
      }
      circle {
        fill: #444;
      }
    }
    .jsplumb-endpoint-drop-allowed {
      circle {
        fill: #0ff;
      }
    }
  }

  .shizuku-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    .inverse-dropdown {
      background-color: #444;
      border-color: #080808;
      &>li>a, &>li>label {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
        color: #999;
        &:hover {
          color: #fff;
          background-color: #000;
        }
      }
      &>.divider {
        background-color: #000;
      }
    }
    input.load-file {
      display: none;
    }
  }
}
