html, body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
  background: #93a0b0;
}
.shizuku {
  width: 100%;
  height: 100%;
  position: relative;

  .shizuku-component {
    background: #fafafa;
    background-image: linear-gradient(to bottom, #fafafa, #e1e1e1);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
    .shizuku-header {
      background: #b5b5b5;
      border-bottom: 1px solid #949494;
      border-radius: 5px 5px 0 0;
      background-image: linear-gradient(to bottom, #dadada, #b1b1b1);
      padding: 5px;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.15)
    }
    .shizuku-body {
      padding: 10px 10px 5px 10px;
      text-shadow: 0 1px rgba(255, 255, 255, 0.5);
      table.table-form {
        tr {
          th {
            white-space: nowrap;
            text-align: right;
            padding-right: 15px;
            padding-bottom: 5px;
          }
          td {
            white-space: nowrap;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  .jsplumb-endpoint {
    circle {
      fill: #777;
    }
  }
  .jsplumb-connector {
    path {
      stroke: #777;
    }
  }
  .jsplumb-hover {
    path {
      stroke: #444;
    }
    circle {
      fill: #444;
    }
  }
}
